<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chit Chat</title>
</head>
<body>
    <h1>Edit your chats</h1>

        <h3>From : <%= chat.from %></h3>
        <h3>For : <%= chat.to %></h3>
        <form method="post" action="/chats/<%= chat._id %>?_method=PATCH">
        <textarea name="msg"><%= chat.message %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>