<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, possimus aliquam consequatur exercitationem rerum sed quae, voluptatem debitis, ratione corporis praesentium minus iure placeat cum! Excepturi incidunt quia deserunt ipsa?*</p>
    <button>Click me</button>
</body>
</html>