<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Total number of user are :<%= count %></h1>
    <form action="/user/new">
    <button>Add new User</button>
</form>
<form action="/user">
    <button>See All User</button>
</form>
</body>
</html>