body{
    font-family: "Montserrat", sans-serif;
padding: 0;
margin:0;
background-color: #EBF4F6;    
}

#title{
    margin-top: 20px;
    height: 540px;
    width: 820px;
    background-color: #edeae1;
    color: #1b2651;
    margin-left: 100px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 15px;
    font-size: 25px;
}
input{
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
    width: 450px;
    padding: 5px;
}

textarea{
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}
button{
    margin-left: 40px;
    border: 2px solid #1b2651;
    border-radius: 10px;
    background-color: #1b2651;
    color: white;
    position: relative;
    left: 630px;
    top: 10px;
}