<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About task</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <div class="about">
        <div class="title">
    <h1><%= task.title %></h1>
</div>
    <div class="desc">
        <h2>Description</h2>
    <p><%= task.description %></p>
</div>
</div>
    
</body>
</html>